.obsidian/*
!.obsidian/*.json
.obsidian/workspace.json
!.obsidian/themes
.obsidian/themes/*
!.obsidian/themes/Doctorfree
.obsidian/themes/Doctorfree/*
!.obsidian/themes/Doctorfree/manifest.json
!.obsidian/themes/Doctorfree/theme.css
!.obsidian/plugins
!.obsidian/plugins/*

Tools/*/tmp/*
Tools/*/scripts/tmp/*
Tools/Discogs/scripts/json/*
Tools/Discogs/scripts/*.png
Tools/Discogs/Discogs/*
Tools/Discogs/assets/*
Tools/Discogs/json/*
Tools/Discogs/json-bak/*

.index
tmp/*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

#do not ignore .github directory
!.github
